<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>560738508359-mab5c8p94bb9be92e5le3trpveuuom4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.560738508359-mab5c8p94bb9be92e5le3trpveuuom4n</string>
	<key>API_KEY</key>
	<string>AIzaSyDqFW3q03L0sjpiI2foHNoRw1O5Y1LAwkU</string>
	<key>GCM_SENDER_ID</key>
	<string>560738508359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.alix.voices.dev</string>
	<key>PROJECT_ID</key>
	<string>voices-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>voices-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560738508359:ios:7b87bc3ffb81b876a25b62</string>
	<key>DATABASE_URL</key>
	<string>https://voices-dev.firebaseio.com</string>
</dict>
</plist>