<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Runner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>263B35CBB68739DE9ABBDB09CA5E107E3C098FE1</string>
				<key>dateExpires</key>
				<string>12.08.21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>263B35CBB68739DE9ABBDB09CA5E107E3C098FE1</string>
						<key>dateExpires</key>
						<string>12.08.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W26GVS4M5S</string>
						<key>name</key>
						<string>Felix Lunzenfichter</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>263B35CBB68739DE9ABBDB09CA5E107E3C098FE1</string>
						<key>dateExpires</key>
						<string>12.08.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W26GVS4M5S</string>
						<key>name</key>
						<string>Felix Lunzenfichter</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>263B35CBB68739DE9ABBDB09CA5E107E3C098FE1</string>
						<key>dateExpires</key>
						<string>12.08.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W26GVS4M5S</string>
						<key>name</key>
						<string>Felix Lunzenfichter</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>263B35CBB68739DE9ABBDB09CA5E107E3C098FE1</string>
						<key>dateExpires</key>
						<string>12.08.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W26GVS4M5S</string>
						<key>name</key>
						<string>Felix Lunzenfichter</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>263B35CBB68739DE9ABBDB09CA5E107E3C098FE1</string>
						<key>dateExpires</key>
						<string>12.08.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W26GVS4M5S</string>
						<key>name</key>
						<string>Felix Lunzenfichter</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>263B35CBB68739DE9ABBDB09CA5E107E3C098FE1</string>
						<key>dateExpires</key>
						<string>12.08.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TOCropViewController.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W26GVS4M5S</string>
						<key>name</key>
						<string>Felix Lunzenfichter</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>263B35CBB68739DE9ABBDB09CA5E107E3C098FE1</string>
						<key>dateExpires</key>
						<string>12.08.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W26GVS4M5S</string>
						<key>name</key>
						<string>Felix Lunzenfichter</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>263B35CBB68739DE9ABBDB09CA5E107E3C098FE1</string>
						<key>dateExpires</key>
						<string>12.08.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>contacts_service.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W26GVS4M5S</string>
						<key>name</key>
						<string>Felix Lunzenfichter</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>263B35CBB68739DE9ABBDB09CA5E107E3C098FE1</string>
						<key>dateExpires</key>
						<string>12.08.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_plugin_android_lifecycle.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W26GVS4M5S</string>
						<key>name</key>
						<string>Felix Lunzenfichter</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>263B35CBB68739DE9ABBDB09CA5E107E3C098FE1</string>
						<key>dateExpires</key>
						<string>12.08.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W26GVS4M5S</string>
						<key>name</key>
						<string>Felix Lunzenfichter</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>263B35CBB68739DE9ABBDB09CA5E107E3C098FE1</string>
						<key>dateExpires</key>
						<string>12.08.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W26GVS4M5S</string>
						<key>name</key>
						<string>Felix Lunzenfichter</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>263B35CBB68739DE9ABBDB09CA5E107E3C098FE1</string>
						<key>dateExpires</key>
						<string>12.08.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_cropper.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W26GVS4M5S</string>
						<key>name</key>
						<string>Felix Lunzenfichter</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>263B35CBB68739DE9ABBDB09CA5E107E3C098FE1</string>
						<key>dateExpires</key>
						<string>12.08.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W26GVS4M5S</string>
						<key>name</key>
						<string>Felix Lunzenfichter</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>263B35CBB68739DE9ABBDB09CA5E107E3C098FE1</string>
						<key>dateExpires</key>
						<string>12.08.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>just_audio.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W26GVS4M5S</string>
						<key>name</key>
						<string>Felix Lunzenfichter</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>263B35CBB68739DE9ABBDB09CA5E107E3C098FE1</string>
						<key>dateExpires</key>
						<string>12.08.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W26GVS4M5S</string>
						<key>name</key>
						<string>Felix Lunzenfichter</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>263B35CBB68739DE9ABBDB09CA5E107E3C098FE1</string>
						<key>dateExpires</key>
						<string>12.08.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W26GVS4M5S</string>
						<key>name</key>
						<string>Felix Lunzenfichter</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>263B35CBB68739DE9ABBDB09CA5E107E3C098FE1</string>
						<key>dateExpires</key>
						<string>12.08.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W26GVS4M5S</string>
						<key>name</key>
						<string>Felix Lunzenfichter</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>263B35CBB68739DE9ABBDB09CA5E107E3C098FE1</string>
						<key>dateExpires</key>
						<string>12.08.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W26GVS4M5S</string>
						<key>name</key>
						<string>Felix Lunzenfichter</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>263B35CBB68739DE9ABBDB09CA5E107E3C098FE1</string>
						<key>dateExpires</key>
						<string>12.08.21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>speech_recognition.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W26GVS4M5S</string>
						<key>name</key>
						<string>Felix Lunzenfichter</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>W26GVS4M5S.co.alix.voices.dev</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>W26GVS4M5S</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6ebc7f51-6fea-44f3-ba4b-69d3db2680e6</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: co.alix.voices.dev</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>W26GVS4M5S</string>
				<key>name</key>
				<string>Felix Lunzenfichter</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
